---
interface Props {
  title?: string;
  description?: string;
  image?: string;
  canonicalURL?: string;
  type?: string;
}

import "../styles/global.css";
import "@fontsource/poppins/400.css";
import "@fontsource/poppins/600.css";
import "@fontsource/poppins/700.css";
import "@fontsource/pt-sans-caption/400.css";
import "@fontsource/pt-sans-caption/700.css";

import SEO from "../components/SEO.astro";
import Analytics from "../components/analytics.astro";

// Google Tag Manager ID
const gtmId = "GTM-W9CKXZS7";

const { title, description, image, canonicalURL, type } = Astro.props;
---

<!doctype html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/logo.png" />
    <meta name="generator" content={Astro.generator} />
    <SEO
      title={title}
      description={description}
      image={image}
      canonicalURL={canonicalURL}
      type={type}
    />
    <Analytics />
    <title>Medical Odonto</title>
  </head>
  <body>
    <!-- Google Tag Manager (noscript) -->
    <noscript>
      <iframe
        src={`https://www.googletagmanager.com/ns.html?id=${gtmId}`}
        height="0"
        width="0"
        style="display:none;visibility:hidden"
      >
      </iframe>
    </noscript>

    <slot />
  </body>
</html>
